body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

header,
nav,
footer {
    background: #c86e6e;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.section {
    display: none;
}

.active {
    display: block;
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 30%;
    text-align: center;
}
